body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: auto;
  width: 1200px;
}

.top-container {
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: rgb(0, 140, 140);
  font-weight: 400;
  position: relative;
}

.left-top-container{
  display: inline-block;
}

.middle-top-container {
  text-align: center;
  display: inline-block;
}

.right-top-container {
  display: inline-block;
}

.left-logout {
  position: absolute;
  text-align: left;
  left: 7px;
  top: 12px;
}

.right-logout {
  position: absolute;
  text-align: right;
  left: 1115px;
  top: 12px;
}

.logout-btn {
  transform: rotate(180deg);
}

.upper-text {
  margin:0;
  font-size: 14px;
  text-align:left;
}

.title {
  position: absolute;
  margin: auto;
  font-size: 35px;
  width: 356px;
  height: 40px;
  left: 409px;
  top: 13px;
}

.subtitle {
  position: absolute;
  margin: auto;
  font-size: 24px;
  width: 181px;
  height: 28px;
}

.middle-container {
  background-color: rgb(228, 228, 228);
  text-align: justify;
  height: 462px;
}

h1{
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  margin : 0;
  display: inline-block;
}

.middle-left-container {
  width: 812px;
  display: table-cell;
  padding-left:21px;
  padding-right:21px;
  padding-top: 15px;
}

.middle-left-news-title {
  font-size: 18px;
  display: inline-block;
  margin-top: 15px;
}

.middle-left-text {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: normal;
}

.middle-right-container {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(133, 133, 133);
  display: table-cell;
  width: 390px;
  text-align: center;
  height: 462px;
}

.bottom-container {
  background-color: rgb(239, 239, 239);
  height: 390px;
  text-align: left;
  padding-top: 15px;
}

.bottom-left-container {
  width: 469px;
  height: 390px;
  display: table-cell;
  padding-left: 17px;
}

h5{
  font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-size: 18px;
}

.bottom-middle-container {
  width: 343px;
  display: table-cell;
}

.personnel{
  font-size:14px;
  font-weight:700;
  font-style:normal;
  font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
}

.courriel{
  font-size:14px;
  font-weight:400;
  font-style:normal;
  font-family: 'Arial', sans-serif;
}

.bottom-right-container {
  width: 388px;
  display: table-cell;
}

.bottom-right-text{
  font-size:14px;
  font-weight: normal;
  margin-top: -5px;
  text-decoration: inherit;
  color: inherit;
}

.logo_montreal-btn{
  padding-top: 30px;
  margin-bottom:0;
  width: 129px;
  height: 26px;
  text-align: left;
}

.logo_brasserie-btn{
  width: 129px;
  height: 45px;
}
