* {
    box-sizing: border-box;
}

body{
    margin: 0;
    color: black;
}

h1, h2, h3, p{
    margin: 0;
}

/* top container default style*/
.top-container{
    background-color: lightgreen;
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    position: relative;
}

.title{
    text-align: center;
    line-height: 1.75;
    width: 100%;
}

.logout-public, .logout-frigos{
    position: absolute;
}

.logout-public{
    top: 10px;
    left: 10px;
}

.logout-frigos{
    bottom: 10px;
    right: 10px;
}

/*main window default styles*/
.middle-container{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.bottom-container{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.content, .footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
}

/*Other elements*/
[class*="col-"]{
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 800px){
    .col-8 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 50%;}
    .col-3 {width: 50%;}
}

@media only screen and (max-width: 500px){
    [class*="col-"]{
        width: 100%;
    }

    .top-container{
        position: fixed; 
    }

    .main-window{
        position: absolute;
        top: 13vh;
        height: 87vh;
        overflow: overlay;
    }

    .main-window::-webkit-scrollbar {
        width: 6px;
    }

    .main-window::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    .main-window::-webkit-scrollbar-thumb {
        border-radius:5px;
        background: rgb(66, 66, 66);
    }
}



